*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* menu1 */
header{
  width: 100%;
}
.header-top-container{
  height: 70px;
  line-height: 70px;
  background-color: #f5f8fa;
}

.container-w{
width: 70%;
margin: auto;
}

.header-top-nav-left{
  float: left;
  width: 50%;
}

.header-top-nav-right{
  float: left;
  width: 50%;
  text-align: right;
}

.menu{
  list-style: none;
}

.menu li{
  display: inline-block;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.down{
  border-right: 1px solid black;
  padding-right: 12px;
}

.p1{
  padding-left: 8px;
}


/* header-top-bottom */
.header-top-bottom{
  height: 70px;
  line-height: 70px;
}

.header-top-logo{
  float: left;
  width: 50%;
  line-height: 90px;
}

.down li{
  border-right: none;
  padding-left: 12px;
  }

  .header-bottom-bottom{
    float: left;
    width: 50%;
    text-align: right;
    line-height: 60px;
  }

  .fa-angle-dow{
    padding: 0 8px;
  }

  aside{
    padding:8px;
  }

  .fa-search{
    color: #007fff;
    font-size: 13px;
    margin-right: 10px;
  }

  .container-z{
    width: 70%;
    margin: auto;
  }

/* bottoni */
.btn{
  border-radius: 5px;
  color: #fff;
  padding: 8px 8px;
  min-width: 100px;
  background-color: transparent;
  border: none;
  margin-left: 10px;
}

.btn2{
  border-radius: 5px;
  color: #fff;
  padding: 8px 8px;
  min-width: 60px;
  background-color: transparent;
  margin-left: 10px;
  margin-right: 10px;
}

.btn-gethub-big {
  border-radius: 5px;
  color: #fff;
  padding: 20px 20px;
  min-width: 100px;
  background-color: #FE775A;
  border: none;
}

.btn-orange {
  background-color: #FE775A;
}

.btn-backgroundwhite{
  border: 1px solid #FE775A;
  color: orange;
}
/* immagini */
.container{
  height: 650px;
  background-color: #FFF3EE;
  }

.img{
  background-image: url(../img/jumbotron.png);
  background-repeat: no-repeat;
  background-position: right bottom;
}

.color{
  width: 70%;
  margin: auto;
  position: relative;
}

.testo{
 position: absolute;
 top: 110px;
}

h1{
 font-size: 50px;
 top: 50px;
}

span{
  font-size: 12px;
}

.rettangolo{
  height: 80px;
  background-color: green;
  border-bottom: 3px solid #33475B;
  border-top: 3px solid #33475B;
  background-color: #42FFC7;
}

/* main */
main{
  width: 100%;
  background-color: #F4F9FD;
}

.container2{
  width: 70%;
  margin: auto;
}

.dimension{
  font-size: 40px;
}

.cubo{
  text-align: center;
}

.divison{
  margin-top: 20px;
}



.crm-left {
  width: 50%;
  float: left;
  text-align: center;
}

.crm-left img {
  margin: auto;
  width: 35%;
  margin-bottom: 20px;
}

.crm-right{
  width: 50%;
  float: left;
}

.box-title {
  font-size: 25px;
  font-weight: 900;
  text-transform: capitalize;
}

.crm-right .box-title {
  margin-top: 25px;
}

.box-description {
  line-height: 1.8;
}

.feature-title {
  text-transform: uppercase;
  font-weight: 900;
}

.crm-right .box-title {
  margin-bottom: 25px;
}

.box-description {
  line-height: 1.8;
}

.crm-right .box-description {
  max-width: 80%;
  margin-bottom: 20px;
}

.feature-title {
  text-transform: uppercase;
  font-weight: 900;
}

.crm-right .feature-title {
  display: inline-block;
  margin: 0 45px 25px 0;
}

.box-line {
  height: 20px;
  width: 60%;
  display: inline-block;
  margin-bottom: 5px;
  border-bottom: 2px solid #899397;
}

.feature-list {
  list-style: none;
}

.feature-item {
  display: inline-block;
  margin-right: 20px;
  text-transform: capitalize;
}

.feature-list .fa-check-circle {
  color: #FE775A;
  margin-right: 15px;
}

.cubo2{
  width: 70%;
  margin: auto;
  margin-top: 20px;
  background-color: green;
  position: relative;
}
