*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.header-top-container{
  height: 40px;
  background-color: blue;
}

.header-top-nav-left{
  float: left;
  width: 40%;
}

.menu1{
  list-style: none;
}

.menu1 li{
  display: inline-block;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
